@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background-color: gainsboro;
    font-family: Ranga;
    font-size: 1em;

}
h1{
    background-color: darkorchid;
    font-size: 4em;
    font-family: Pacifico;
}

h2{
    background-color: chartreuse;
    font-family: Mystery Quest;
    font-style: italic;
    font-size: 2em;
}

h3{
    background-color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

