body{
    background-color:#fdfbf1;
}
h1,h2,h3{
    background-color:burlywood;
    color:white;
}
h1{
    text-align:center;
}
ul{
    list-style-type: square;
}
ul ul{
    list-style-type: circle;
}
ol{
    list-style-type:lower-roman;
}
dl{
    border-left: 5px solid coral;
    background-color:#f0e7db;
}
dt{
    font-variant:small-caps;
    font-weight: bolder;
}
li:first-letter{
    font-style:italic;
    font-size: 1.25em;
}